<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLA DE AJEDREZ</title>
</head>

<body>
    <h1>Tablero De Ajedrez</h1>
    <table>
        <tbody>
            {% for i in range(0,filas) %}
            <tr>
                {% for x in range (0,columnas) %}
                {% if (x+i)%2 == 0 %}
                <td style="background-color: {{color}}; height:50px; width:50px;"></td>
                {% else %}
                <td style="background-color: {{color2}}; height:50px; width:50px;"></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>